body {
  padding-top: 50px;
}
.top-pad {
  padding: 40px 15px;
  text-align: center;
}

.fancybox-inner .caption {
	background-color: rgba(255,255,255,0.5);
	bottom: 0;
	left: 0;
	padding: 2px 5px;
	position: absolute;
}

.form-control[required] {
	background-color: #FF3333;
	color: #fff;
}

.img-circle {
	border-width: 5px;
	border-style: solid;
}

.p-available {
	border-color: #0C0;
}

.p-old {
	border-color: #f90;
}

.p-unavailable {
	border-color: #999;
}