{% extends 'base.html' %}

{% block container %}

	<form method="POST"
			action="{{ url_for('catalog.create_enter') }}"
			role="form"
			enctype="multipart/form-data"
			id="registrationForm" class="form-horizontal" role="form">
		{{ form.csrf_token }}
		<div class="section">
			<div class="container">
				{% include 'profile.html' %}

				<div class="row">
				  <div class="col-md-12">
					<div class="well">


						<!--fieldset class="form-group">
							<div class="col-lg-9">
								<div class="input-group">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="input-group">
									<input type="checkbox" id="chkterms" class="" "/> Terms & Conditions
									<button type="submit" class="btn btn-primary " name="submit" value="Submit" id="btncheck" disabled>Iesniegt</button>
								</div>
							</div>
						</fieldset-->

						<fieldset class="form-group">
							<div class="col-lg-11">
								<div class="input-group">
								</div>
							</div>
							<div class="col-lg-1">
								<div class="input-group">
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#termsModal" data-whatever="@getbootstrap">Iesniegt</button>
								</div>
							</div>
						</fieldset>

						  <!--button type="submit" class="btn btn-default pull-right" disabled>Iesniegt</button-->
					</div>
				  </div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="termsModalLabel">Līgums</h4>
			  </div>
			  <div class="modal-body">
				Ar šo izsaku savu piekrišanu, ka SIA"CASTING BRIDGE", vienotais reģistrācijas numurs:40103389862,
				iekļauj, uzglabā un apstrādā savā datu bāzē manus fiziskās personas datus. Esmu informēts, ka minētās
				darbības nepieciešamas, lai piedāvātu manus pakalpojumus trešajām personām. Piekrītu, ka manis
				sniegtā informācija atlases un pakalpojumu sniegšanas gaitā tiks sniegta trešajām personām,
				kuras ir ieinteresētas minēto pakalpojumu pirkšanā.
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
				<input type="checkbox" id="chkterms"/> Piekrītu
				<button type="submit" class="btn btn-primary" id="btncheck" disabled>Apstiprināt</button>
			  </div>
			</div>
		  </div>
		</div>

		<div class="modal fade" id="man_sizeModal" tabindex="-1" role="dialog" aria-labelledby="man_sizeModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="man_sizeModalLabel">Vīriešu izmēri</h4>
			  </div>
			  <div class="modal-body">
				<img src="{{ url_for('static', filename='img/man_eur.png') }}" class="img-responsive">
			  </div>
			  <div class="modal-footer">
			  </div>
			</div>
		  </div>
		</div>

		<div class="modal fade" id="woman_sizeModal" tabindex="-1" role="dialog" aria-labelledby="woman_sizeModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="man_sizeModalLabel">Sieviešu izmēri</h4>
			  </div>
			  <div class="modal-body">
				<img src="{{ url_for('static', filename='img/woman_eur.png') }}" class="img-responsive">
			  </div>
			  <div class="modal-footer">
			  </div>
			</div>
		  </div>
		</div>

	</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
{% include 'profile.jinjatwo.js' %}

	$(function() {
		$('#chkterms').click(function(e) {
			if ($('#chkterms').is(':checked')) {
				$("#btncheck").prop('disabled', false);
			}
			else {
				$("#btncheck").prop('disabled', true);
			}
		});
	});
</script>
{% endblock %}
