{% extends 'base.html' %}

{% block container %}
<form method="POST"
		action="{{ url_for('catalog.update_profile', id=person.id) }}"
		role="form"
		enctype="multipart/form-data"
		id="registrationForm" class="form-horizontal" role="form">
	{{ form.csrf_token }}
	<div class="section">
	  <div class="container">

		<!-- update specific -->
		<div class="row">
			{% for photo in photos.items %}
				<div class="col-md-3">
					<div class="thumbnail">
						<a href="{{ url_for('photo_direct_dir', filename=photo.name) }}?{{ photo.created.utcnow() }}" class="thumbnail-image" target="_blank" rel="profile-images" data-fancybox="profile-images"><img src="{{ url_for('thumbnail_dir', filename=photo.name) }}?{{ photo.created.utcnow() }}" class="img-responsive"></a>
						<div class="caption">
							<input class="photo-checkbox" type="checkbox" name="photos[]" value="{{ photo.id }}" />&nbsp;
							<a href="{{ url_for('photo_dir', filename=photo.name) }}" class="fa fa-download" aria-hidden="true" title="Lejupielādēt">&nbsp;</a>
							<a href="{{ url_for('catalog.photo_delete', person_id=person.id, photo_id=photo.id) }}" class="profile-image delete fa fa-trash" aria-hidden="true" title="Dzēst" data-photo-id="{{ photo.id }}">&nbsp;</a>
							<a href="{{ url_for('catalog.photo_rotate', person_id=person.id, photo_id=photo.id, angle=-90) }}" class="profile-image rotate fa fa-repeat" aria-hidden="true" title="Pagriezt pulksteņrādītāja virzienā" data-photo-id="{{ photo.id }}" data-photo-angle="-90">&nbsp;</a>
							<a href="{{ url_for('catalog.photo_rotate', person_id=person.id, photo_id=photo.id, angle=90) }}" class="profile-image rotate fa fa-undo" aria-hidden="true" title="Pagriezt pret-pulksteņrādītāja virzienā" data-photo-id="{{ photo.id }}" data-photo-angle="90">&nbsp;</a>
							<input type="text" value="{{ photo.created.strftime('%d-%m-%Y %H:%M:%S') }}" class="photo-date text-right" data-person-id="{{ person.id }}" data-photo-id="{{ photo.id }}" size="7" />
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="col-md-12">
				<input type="checkbox" id="all-profile-images" />
				<label for="all-profile-images">Bilžu apstrāde</label>:
				{#
				<a href="{{ url_for('catalog.batch_photo_download') }}" class="fa fa-download" aria-hidden="true" title="Lejupielādēt">&nbsp;</a>
				#}
				<a href="{{ url_for('catalog.batch_photo_delete', person_id=person.id) }}" class="profile-image batch-delete fa fa-trash" aria-hidden="true" title="Dzēst">&nbsp;</a>
				<a href="{{ url_for('catalog.batch_photo_rotate', person_id=person.id, angle=-90) }}" class="profile-image batch-rotate fa fa-repeat" aria-hidden="true" title="Pagriezt pulksteņrādītāja virzienā" data-photo-angle="-90">&nbsp;</a>
				<a href="{{ url_for('catalog.batch_photo_rotate', person_id=person.id, angle=90) }}" class="profile-image batch-rotate fa fa-undo" aria-hidden="true" title="Pagriezt pret-pulksteņrādītāja virzienā" data-photo-angle="90">&nbsp;</a>
				<input type="text" value="31-12-2018 00:00:00" class="batch-photo-date text-right" size="7" />
				<hr />
			</div>
		</div> <!-- end row-->
		<!-- VIDEO listing -->
		<div class="row">
			{% for video in videos.items %}
				<div class="col-md-6">
					<div class="thumbnail">
						<video id="sampleMovie" max-heght="50" controls>
							<source src="{{ url_for('download_file', filename=video.name) }}" />
						</video>
						<p>{{ video.created.strftime("%d-%m-%Y %H:%M:%S") }}</p>
						<div class="caption">
							<a href="{{ url_for('catalog.photo_delete', person_id=person.id, photo_id=video.id) }}">
								<p>Dzēst</d>
							</a>
						</div>
					</div>
				</div>
			{% if loop.index is divisibleby 2 %}
				</div> <!-- end row-->
				<div class="row">
			{% endif %}
			{% endfor %}
		</div> <!-- end row-->

		<!-- update specific -->
		{% include 'profile.html' %}
	  </div>
	</div>

	<!-- update specific -->
	<div class="row">
	  <div class="col-md-12">
		<div class="well">
			<button type="submit" class="btn btn-default pull-right">Iesniegt</button>
			<a href="{{ url_for('catalog.profile_print', id=person.id) }}">
				<button type="button" class="btn btn-default pull-right">Drukāt</button>
			</a>
			<button type="button" class="btn btn-warning pull-right favorite" data-profile-id="{{person.id}}">Favorīts</button>
			<a href="{{ url_for('catalog.profile_delete', id=person.id) }}">
				<button type="button" class="btn btn-danger">Dzēst</button>
			</a>
		</div>
	  </div>
	</div>

	<div class="modal fade" id="man_sizeModal" tabindex="-1" role="dialog" aria-labelledby="man_sizeModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="man_sizeModalLabel">Vīriešu izmēri</h4>
		  </div>
		  <div class="modal-body">
			<img src="{{ url_for('static', filename='img/man_eur.png') }}" class="img-responsive">
		  </div>
		  <div class="modal-footer">
		  </div>
		</div>
	  </div>
	</div>

	<div class="modal fade" id="woman_sizeModal" tabindex="-1" role="dialog" aria-labelledby="woman_sizeModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="man_sizeModalLabel">Sieviešu izmēri</h4>
		  </div>
		  <div class="modal-body">
			<img src="{{ url_for('static', filename='img/woman_eur.png') }}" class="img-responsive">
		  </div>
		  <div class="modal-footer">
		  </div>
		</div>
	  </div>
	</div>
</form>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
	<!-- The container for the modal slides -->
	<div class="slides"></div>
	<!-- Controls for the borderless lightbox -->
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
	<!-- The modal dialog, which will be used to wrap the lightbox content -->
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body next"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left prev">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Previous
					</button>
					<button type="button" class="btn btn-primary next">
						Next
						<i class="glyphicon glyphicon-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



{% block scripts %}
<script type="text/javascript">
{% include 'profile.jinjatwo.js' %}

var favorites = Cookies.get('favorites');
if (!favorites)
{
	favorites = {};
}
else
{
	favorites = JSON.parse(favorites);
}

toggleFavorite = function (elem) {
	var profileID = $(elem).data('profile-id');
	if (favorites[profileID])
	{
		delete favorites[profileID];
		$(elem).html('Favorīts');
	}
	else
	{
		favorites[profileID] = true;
		$(elem).html('Ne-favorīts');
	}
};

$(document).on('ready', function() {

	$('.photo-date').on('change', function(){
		var thisDate = this;
		$(thisDate).addClass('bg-warning');

		$.ajax({
			dataType: "html",
			url: "{{ url_for('catalog.update_profile_photo') }}",
			data: {
				person: $(thisDate).data('person-id'),
				photo: $(thisDate).data('photo-id'),
				date: $(thisDate).val()
			},
			success: function(){
				$(thisDate)
					.removeClass('bg-danger')
					.removeClass('bg-warning')
					.addClass('bg-success');
			}
		})
			.fail(function(){
				$(thisDate)
					.removeClass('bg-warning')
					.addClass('bg-danger');
			})
		;
	});

	$(".favorite")
		.each(function(){
			var profileID = $(this).data('profile-id');
			if (favorites[$(this).data('profile-id')])
			{
				$(this).html('Ne-favorīts');
			}
			else
			{
				$(this).html('Favorīts');
			}
		})
		.on('click', function(){
			toggleFavorite(this);
			Cookies.set('favorites', favorites, { expires: 30 });
		})
	;

	$("[data-fancybox]").fancybox({
		// Options will go here
		// afterShow: function(){
		//     test = this;
		// },
		afterLoad: function() {
			this.inner
				.append($(this.element).siblings('.caption').clone());

			$(this.outer).parent().find('.photo-date').detach();

			$(this.outer).parent().find('.profile-image.delete').on('click', function(){
				return confirm('Vai tiešām vēlaties dzēst šo bildi?');
			});

			$(this.outer).parent().find('.profile-image.rotate').on('click', function(){
				return confirm('Vai tiešām vēlaties pagriezt šo bildi?');
			});
		},
		helpers     : {
			title   : { type : 'inside' },
			buttons : {}
		},
		padding: 5,
		loop: false,
		arrows: false,
		nextClick: false,
		prevClick: false
	});

	$('.profile-image.delete').on('click', function(e){
		var buttonElem = this;
		e.preventDefault();

		if (confirm('Vai tiešām vēlaties dzēst šo bildi?'))
		{
			$.getJSON(
					"{{ url_for('catalog.photo_delete', person_id=person.id) }}",
					{
						photo_id: $(this).data('photo-id')
					},
					function() {
						// refresh thumbnail
						$(buttonElem)
							.parents('.thumbnail')
							.parent()
								.detach();
					}
				)
			;
		}
		return false;
	});

	$('.profile-image.rotate').on('click', function(e){
		var buttonElem = this;
		e.preventDefault();

		if (confirm('Vai tiešām vēlaties pagriezt šo bildi? (' + $(this).data('photo-angle')*-1 + '°)'))
		{
			$.getJSON(
					"{{ url_for('catalog.photo_rotate', person_id=person.id) }}",
					{
						photo_id: $(this).data('photo-id'),
						angle: $(this).data('photo-angle')
					},
					function() {
						// refresh thumbnail
						var thumbnail = $(buttonElem).parents('.thumbnail').find('.img-responsive');
						$(thumbnail).attr('src', $(thumbnail).attr('src') + '&1');
					}
				)
			;
		}
		return false;
	});

	$('.profile-photo.rotate').on('click', function(e){
		return confirm('Vai tiešām vēlaties pagriezt šo bildi? (' + $(this).data('photo-angle')*-1 + '°)');
	});

	// Batch processing

	$('#all-profile-images').on('click', function(){
		if ($(this).prop('checked'))
		{
			$('.photo-checkbox').prop('checked', true)
		}
		else
		{
			$('.photo-checkbox').prop('checked', false)
		}
	})

	$('.profile-image.batch-delete').on('click', function(e){
		e.preventDefault();

		if (confirm('Vai tiešām vēlaties dzēst šīs bildes?'))
		{
			var photoIds = [];
			$('.photo-checkbox:checked').each(function() {
				photoIds.push($(this).val());
			})
			$.getJSON(
					"{{ url_for('catalog.batch_photo_delete', person_id=person.id) }}",
					{
						photos: photoIds
					},
					function() {
						// refresh thumbnail
						$('.photo-checkbox:checked').parents('.thumbnail')
								.parent()
									.detach();
					}
				)
			;
		}
		return false;
	});

	$('.profile-image.batch-rotate').on('click', function(e){
		e.preventDefault();

		if (confirm('Vai tiešām vēlaties pagriezt šīs bildes? (' + $(this).data('photo-angle')*-1 + '°)'))
		{
			var photoIds = [];
			$('.photo-checkbox:checked').each(function() {
				photoIds.push($(this).val());
			})
			$.getJSON(
					"{{ url_for('catalog.batch_photo_rotate', person_id=person.id) }}",
					{
						photos: photoIds,
						angle: $(this).data('photo-angle')
					},
					function() {
						// refresh thumbnails
						$('.photo-checkbox:checked').parents('.thumbnail').find('.img-responsive')
							.each(function(){
								$(this).attr('src', $(this).attr('src') + '&1');
							});
					}
				)
			;
		}
		return false;
	});

	$('.batch-photo-date').on('change', function(){
		var photoIds = [];
		$('.photo-checkbox:checked').each(function() {
			photoIds.push($(this).val());
		})

		$.getJSON(
				"{{ url_for('catalog.batch_update_profile_photo', person_id=person.id) }}",
				{
					photos: photoIds,
					date: $(this).val()
				},
				function(){
					$('.photo-checkbox:checked')
						.siblings('.photo-date')
						.removeClass('bg-danger')
						.removeClass('bg-warning')
						.addClass('bg-success')
						.val($('.batch-photo-date').val())
					;
				}
			)
			.fail(function(){
				$('.photo-checkbox:checked')
					.siblings('.photo-date')
					.removeClass('bg-warning')
					.addClass('bg-danger')
				;
			})
		;
	});
});
</script>
{% endblock %}