{% extends 'base.html' %}

{% block container %}

        <div class="section">
          <div class="container">

            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center">Profili</h1>
                <!--p class="text-center"></p-->
                <!--p class="text-center">{{ profiles.pages }}</p>
                <p class="text-center">{{ profiles.per_page }}</p-->
              </div>
            </div>

            <form method="GET"
                    action="{{ url_for('catalog.profiles') }}"
                    role="form"
                    enctype="multipart/form-data" class="form-horizontal">
              <div class="row">
                <div class="col-md-2">
                  <select class="selectpicker" name="species" title="Dzimums">
                    <option value="man"{% if 'man' == request.args.species %} selected{% endif %}>Vīrietis</option>
                    <option value="woman"{% if 'woman' == request.args.species %} selected{% endif %}>Sieviete</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <select class="selectpicker" name="speciality" title="Specialitāte">
                    <option value="actor"{% if 'actor' == request.args.speciality %} selected{% endif %}>Aktieris</option>
                    <option value="professional"{% if 'professional' == request.args.speciality %} selected{% endif %}>Profesionālis</option>
                    <option value="talent"{% if 'talent' == request.args.speciality %} selected{% endif %}>Talants</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <input type="text" name="id" id="id" class="form-control" aria-label="..." placeholder="ID numurs" value="{{ request.args.id }}" />
                </div>
                <div class="col-md-2">
                  <input type="text" name="phone" id="phone" class="form-control" aria-label="..." placeholder="Telefons" value="{{ request.args.phone }}" />
                </div>
                <div class="col-md-1">
                  <label class="control-label">Vecums: </label>
                </div>
                <div class="col-md-1">
                  <input type="text" name="age_from" id="age_from" class="form-control" aria-label="..." placeholder="no" maxlength="2" value="{{ request.args.age_from }}" />
                </div>
                <div class="col-md-1">
                  <input type="text" name="age_to" id="age_to" class="form-control" aria-label="..." placeholder="līdz" maxlength="2" value="{{ request.args.age_to }}" />
                </div>
              </div><br>
              <div class="row">
                <div class="col-md-2">
                  <input type="text" name="name" id="name" class="form-control" aria-label="..." placeholder="Vārds" value="{{ request.args.name }}" />
                </div>
                <div class="col-md-2">
                  <input type="text" name="surname" id="surname" class="form-control" aria-label="..." placeholder="Uzvārds" value="{{ request.args.surname }}" />
                </div>
                <div class="col-md-2">
                  <select name="city" id="city" class="form-control">
                    <option value="">Pilsēta</option>
                    {% for city in cities %}
                    <option value="{{ city.id }}"{% if '' ~ city.id == request.args.city %} selected{% endif %}>{{ city.tag_lv }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-2">
                  <input type="text" name="skills" id="skills" class="form-control" aria-label="..." placeholder="Īpašības" /><br />
                  <input type="checkbox" name="any_skills "{% if request.args.any_skills != '' %} checked{% endif %} value="yes" /> <label for="any_skills">Jebkura</label>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-warning">Meklēt</button>
                  <input type="reset" class="btn btn-default form-reset" value="Notīrīt" />
                </div>
              </div><br>
              <div class="row">
                <div class="col-md-4">
                  <select name="sort" id="sort" class="form-control">
                    <option value="">Kārtot pēc... (ID)</option>
                    <option value="1"{% if request.args.sort == '1' %} selected{% endif %}>Kārtot pēc izveidošanas datuma (aug.)</option>
                    <option value="2"{% if request.args.sort == '2' %} selected{% endif %}>Kārtot pēc izveidošanas datuma (dil.)</option>
                    <option value="3"{% if request.args.sort == '3' %} selected{% endif %}>Kārtot pēc statusa (aug.)</option>
                    <option value="4"{% if request.args.sort == '4' %} selected{% endif %}>Kārtot pēc statusa (dil.)</option>
                  </select>
                </div>
              </div>
            </form>

            <br>

            <div class="row">
            {% for profile in profiles.items %}

                <div class="col-md-3">
                    <a href="{{ url_for('catalog.update_profile', id=profile.id) }}">
                    <img
                    {% if profile.profile_image is not none %}
                      src="{{ url_for('profile_dir', filename=profile.profile_image) }}?{{ profile.modified.utcnow() }}"
                    {% else %}
                      src="{{ url_for('static', filename='img/user_placeholder.jpg') }}"
                    {% endif %}
                      class="center-block img-circle img-responsive
                      {% if profile.is_active %}
                      p-unavailable
                      {% elif profile.status_payed != 1 %}
                      p-unpayed
                      {% elif profile.status != 1 %}
                      p-old
                      {% else %}
                      p-available
                      {% endif %}" />
                    <h3 class="text-center">{{ profile.name }}</h3>
                    <p class="text-center">ID-{{ profile.id }}</p>
                    </a>
                </div>
                <!--p class="text-center">{{ loop.index }}</p-->

            {% if loop.index is divisibleby 4 %}
            </div> <!-- end row-->
            <div class="row">
            {% endif %}

            {% endfor %}
            </div> <!-- end row-->

            <div class="container">
                <div class="col-md-12 col-md-offset-5">
                {% if profiles.has_prev %}
                  <a href="{{ url_for(request.endpoint, page=profiles.prev_num, **request.args) }}">
                    {{ "<< Iepriekšējā lapa" }}
                  </a>
                {% else %}
                  {{ "<< Iepriekšējā lapa" }}
                {% endif %}
                |
                {% for page in profiles.iter_pages() %}
                  {% if page %}
                    {% if page != profiles.page %}
                      <a href="{{ url_for(request.endpoint, page=page, **request.args) }}">{{ page }}</a>
                    {% else %}
                      <strong>{{ page }}</strong>
                    {% endif %}
                  {% else %}
                    <span class=ellipsis>…</span>
                  {% endif %}
                {% endfor %}
                |
                {% if profiles.has_next %}
                  <a href="{{ url_for(request.endpoint, page=profiles.next_num, **request.args) }}">
                    {{ "Nākošā lapa >>" }}
                  </a>
                {% else %}
                  {{ "Nākošā lapa >>" }}
                {% endif %}
                </div>
            </div>

          </div>
        </div>

    <script type="text/javascript">
      var skills = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        initialize: false,
        // local: [
        //   {% for skill in skills %}
        //     { id:{{ skill.id }}, name:"{{ skill.tag_lv }}" },
        //   {% endfor %}
        // ],
        // identify: function(obj) { return obj.id; },
        prefetch: {
          url: '/api/classifier',
          cache : false,
          filter: function(list) {
            return $.map(list.objects, function(classifier) {
              return { name: classifier.tag_lv, id: classifier.id };
            });
          }
        }
      });
      skills.initialize();

      var skillElem = $('#skills');
      skillElem.tagsinput({
        freeInput: false,
        trimValue: true,
        itemValue: 'id',
        itemText: 'name',
        typeaheadjs: [
          {
              hint: true,
              highlight: true
          },
          {
              name: 'objects',
              displayKey: 'name',
              source: skills.ttAdapter()
          }]
      });

      {% for skill in skills %}
      skillElem.tagsinput('add', { "id": {{ skill.id }}, "name": "{{ skill.tag_lv }}" });
      {% endfor %}

      $(document).on('ready', function() {
        $('.form-reset').on('click', function(){
          skillElem.tagsinput('removeAll');

          $('#city').val(0);
        });

        $('.search_selectpicker').selectpicker({
            size: 8,
            //maxOptions: 1,
            //doneButton: true,
            //doneButtonText: 'Aizvērt',
            liveSearch: true
        });
      });
    </script>

{% endblock %}
